/*
:Author: David Goodger (goodger@python.org)
:Id: $Id: html4css1.css 7514 2012-09-14 14:27:12Z milde $
:Copyright: This stylesheet has been placed in the public domain.

Default cascading style sheet for the HTML output of Docutils.

See http://docutils.sf.net/docs/howto/html-stylesheets.html for how to
customize this style sheet.
*/

/* used to remove borders from tables and images */
.borderless, table.borderless td, table.borderless th {
  border: 0 }

table.borderless td, table.borderless th {
  /* Override padding for "table.docutils td" with "! important".
     The right padding separates the table cells. */
  padding: 0 0.5em 0 0 ! important }

.first {
  /* Override more specific margin styles with "! important". */
  margin-top: 0 ! important }

.last, .with-subtitle {
  margin-bottom: 0 ! important }

.hidden {
  display: none }

a.toc-backref {
  text-decoration: none ;
  color: black }

blockquote.epigraph {
  margin: 2em 5em ; }

dl.docutils dd {
  margin-bottom: 0.5em }

object[type="image/svg+xml"], object[type="application/x-shockwave-flash"] {
  overflow: hidden;
}

/* Uncomment (and remove this text!) to get bold-faced definition list terms
dl.docutils dt {
  font-weight: bold }
*/

div.abstract {
  margin: 2em 5em }

div.abstract p.topic-title {
  font-weight: bold ;
  text-align: center }

div.admonition, div.attention, div.caution, div.danger, div.error,
div.hint, div.important, div.note, div.tip, div.warning {
  margin: 2em ;
  border: medium outset ;
  padding: 1em }

div.admonition p.admonition-title, div.hint p.admonition-title,
div.important p.admonition-title, div.note p.admonition-title,
div.tip p.admonition-title {
  font-weight: bold ;
  font-family: sans-serif }

div.attention p.admonition-title, div.caution p.admonition-title,
div.danger p.admonition-title, div.error p.admonition-title,
div.warning p.admonition-title, .code .error {
  color: red ;
  font-weight: bold ;
  font-family: sans-serif }

/* Uncomment (and remove this text!) to get reduced vertical space in
   compound paragraphs.
div.compound .compound-first, div.compound .compound-middle {
  margin-bottom: 0.5em }

div.compound .compound-last, div.compound .compound-middle {
  margin-top: 0.5em }
*/

div.dedication {
  margin: 2em 5em ;
  text-align: center ;
  font-style: italic }

div.dedication p.topic-title {
  font-weight: bold ;
  font-style: normal }

div.figure {
  margin-left: 2em ;
  margin-right: 2em }

div.footer, div.header {
  clear: both;
  font-size: smaller }

div.line-block {
  display: block ;
  margin-top: 1em ;
  margin-bottom: 1em }

div.line-block div.line-block {
  margin-top: 0 ;
  margin-bottom: 0 ;
  margin-left: 1.5em }


html[dir="rtl"] div.line-block div.line-block {
  margin-top: 0 ;
  margin-bottom: 0 ;
  margin-right: 1.5em  ;
  margin-left: 0  ;
}

div.sidebar {
  margin: 0 0 0.5em 1em ;
  border: medium outset ;
  padding: 1em ;
  background-color: #ffffee ;
  width: 40% ;
  float: right ;
  clear: right }

div.sidebar p.rubric {
  font-family: sans-serif ;
  font-size: medium }

div.system-messages {
  margin: 5em }

div.system-messages h1 {
  color: red }

div.system-message {
  border: medium outset ;
  padding: 1em }

div.system-message p.system-message-title {
  color: red ;
  font-weight: bold }

div.topic {
  margin: 2em }

h1.section-subtitle, h2.section-subtitle, h3.section-subtitle,
h4.section-subtitle, h5.section-subtitle, h6.section-subtitle {
  margin-top: 0.4em }

h1.title {
  text-align: center }

h2.subtitle {
  text-align: center }

hr.docutils {
  width: 75% }

img.align-left, .figure.align-left, object.align-left {
  clear: left ;
  float: left ;
  margin-right: 1em }

img.align-right, .figure.align-right, object.align-right {
  clear: right ;
  float: right ;
  margin-left: 1em }

img.align-center, .figure.align-center, object.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.align-left {
  text-align: left }

.align-center {
  clear: both ;
  text-align: center }

.align-right {
  text-align: right }

/* reset inner alignment in figures */
div.align-right {
  text-align: inherit }

/* div.align-center * { */
/*   text-align: left } */

ol.simple, ul.simple {
  margin-bottom: 1em }

ol.arabic {
  list-style: decimal }

ol.loweralpha {
  list-style: lower-alpha }

ol.upperalpha {
  list-style: upper-alpha }

ol.lowerroman {
  list-style: lower-roman }

ol.upperroman {
  list-style: upper-roman }

p.attribution {
  text-align: right ;
  margin-left: 50% }

p.caption {
  font-style: italic }

p.credits {
  font-style: italic ;
  font-size: smaller }

p.label {
  white-space: nowrap }

p.rubric {
  font-weight: bold ;
  font-size: larger ;
  color: maroon ;
  text-align: center }

p.sidebar-title {
  font-family: sans-serif ;
  font-weight: bold ;
  font-size: larger }

p.sidebar-subtitle {
  font-family: sans-serif ;
  font-weight: bold }

p.topic-title {
  font-weight: bold }

pre.address {
  margin-bottom: 0 ;
  margin-top: 0 ;
  font: inherit }

pre.literal-block, pre.doctest-block, pre.math, pre.code {
  margin-left: 2em ;
  margin-right: 2em }

pre.code .ln { color: grey; } /* line numbers */
pre.code, code { background-color: #eeeeee; }
pre.code .comment, code .comment { color: #5C6576 }
pre.code .keyword, code .keyword { color: #3B0D06; font-weight: bold }
pre.code .literal.string, code .literal.string { color: #0C5404 }
pre.code .name.builtin, code .name.builtin { color: #352B84 }
pre.code .deleted, code .deleted { background-color: #DEB0A1}
pre.code .inserted, code .inserted { background-color: #A3D289}

span.classifier {
  font-family: sans-serif ;
  font-style: oblique }

span.classifier-delimiter {
  font-family: sans-serif ;
  font-weight: bold }

span.interpreted {
  font-family: sans-serif }

span.option {
  white-space: nowrap }

span.pre {
  white-space: pre }

span.problematic {
  color: red }

span.section-subtitle {
  /* font-size relative to parent (h1..h6 element) */
  font-size: 80% }

table.citation {
  border-left: solid 1px gray;
  margin-left: 1px }

table.docinfo {
  margin: 2em 4em }

table.docutils {
  margin-top: 0.5em ;
  margin-bottom: 0.5em }

table.footnote {
  border-left: solid 1px black;
  margin-left: 1px }

table.docutils td, table.docutils th,
table.docinfo td, table.docinfo th {
  padding-left: 0.5em ;
  padding-right: 0.5em ;
  vertical-align: top }

table.docutils th.field-name, table.docinfo th.docinfo-name {
  font-weight: bold ;
  text-align: left ;
  white-space: nowrap ;
  padding-left: 0 }

h1 tt.docutils, h2 tt.docutils, h3 tt.docutils,
h4 tt.docutils, h5 tt.docutils, h6 tt.docutils {
  font-size: 100% }

ul.auto-toc {
  list-style-type: none }

a.footnote-reference {
     line-height: 0px;
}

/* code.css file generated by Nikola */
pre.code .hll { background-color: #ffffcc }
pre.code  { background: #f8f8f8; }
pre.code .c { color: #8f5902; font-style: italic } /* Comment */
pre.code .err { color: #a40000; border: 1px solid #ef2929 } /* Error */
pre.code .g { color: #000000 } /* Generic */
pre.code .k { color: #204a87; font-weight: bold } /* Keyword */
pre.code .l { color: #000000 } /* Literal */
pre.code .n { color: #000000 } /* Name */
pre.code .o { color: #ce5c00; font-weight: bold } /* Operator */
pre.code .x { color: #000000 } /* Other */
pre.code .p { color: #000000; font-weight: bold } /* Punctuation */
pre.code .cm { color: #8f5902; font-style: italic } /* Comment.Multiline */
pre.code .cp { color: #8f5902; font-style: italic } /* Comment.Preproc */
pre.code .c1 { color: #8f5902; font-style: italic } /* Comment.Single */
pre.code .cs { color: #8f5902; font-style: italic } /* Comment.Special */
pre.code .gd { color: #a40000 } /* Generic.Deleted */
pre.code .ge { color: #000000; font-style: italic } /* Generic.Emph */
pre.code .gr { color: #ef2929 } /* Generic.Error */
pre.code .gh { color: #000080; font-weight: bold } /* Generic.Heading */
pre.code .gi { color: #00A000 } /* Generic.Inserted */
pre.code .go { color: #000000; font-style: italic } /* Generic.Output */
pre.code .gp { color: #8f5902 } /* Generic.Prompt */
pre.code .gs { color: #000000; font-weight: bold } /* Generic.Strong */
pre.code .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
pre.code .gt { color: #a40000; font-weight: bold } /* Generic.Traceback */
pre.code .kc { color: #204a87; font-weight: bold } /* Keyword.Constant */
pre.code .kd { color: #204a87; font-weight: bold } /* Keyword.Declaration */
pre.code .kn { color: #204a87; font-weight: bold } /* Keyword.Namespace */
pre.code .kp { color: #204a87; font-weight: bold } /* Keyword.Pseudo */
pre.code .kr { color: #204a87; font-weight: bold } /* Keyword.Reserved */
pre.code .kt { color: #204a87; font-weight: bold } /* Keyword.Type */
pre.code .ld { color: #000000 } /* Literal.Date */
pre.code .m { color: #0000cf; font-weight: bold } /* Literal.Number */
pre.code .s { color: #4e9a06 } /* Literal.String */
pre.code .na { color: #c4a000 } /* Name.Attribute */
pre.code .nb { color: #204a87 } /* Name.Builtin */
pre.code .nc { color: #000000 } /* Name.Class */
pre.code .no { color: #000000 } /* Name.Constant */
pre.code .nd { color: #5c35cc; font-weight: bold } /* Name.Decorator */
pre.code .ni { color: #ce5c00 } /* Name.Entity */
pre.code .ne { color: #cc0000; font-weight: bold } /* Name.Exception */
pre.code .nf { color: #000000 } /* Name.Function */
pre.code .nl { color: #f57900 } /* Name.Label */
pre.code .nn { color: #000000 } /* Name.Namespace */
pre.code .nx { color: #000000 } /* Name.Other */
pre.code .py { color: #000000 } /* Name.Property */
pre.code .nt { color: #204a87; font-weight: bold } /* Name.Tag */
pre.code .nv { color: #000000 } /* Name.Variable */
pre.code .ow { color: #204a87; font-weight: bold } /* Operator.Word */
pre.code .w { color: #f8f8f8; text-decoration: underline } /* Text.Whitespace */
pre.code .mb { color: #0000cf; font-weight: bold } /* Literal.Number.Bin */
pre.code .mf { color: #0000cf; font-weight: bold } /* Literal.Number.Float */
pre.code .mh { color: #0000cf; font-weight: bold } /* Literal.Number.Hex */
pre.code .mi { color: #0000cf; font-weight: bold } /* Literal.Number.Integer */
pre.code .mo { color: #0000cf; font-weight: bold } /* Literal.Number.Oct */
pre.code .sb { color: #4e9a06 } /* Literal.String.Backtick */
pre.code .sc { color: #4e9a06 } /* Literal.String.Char */
pre.code .sd { color: #8f5902; font-style: italic } /* Literal.String.Doc */
pre.code .s2 { color: #4e9a06 } /* Literal.String.Double */
pre.code .se { color: #4e9a06 } /* Literal.String.Escape */
pre.code .sh { color: #4e9a06 } /* Literal.String.Heredoc */
pre.code .si { color: #4e9a06 } /* Literal.String.Interpol */
pre.code .sx { color: #4e9a06 } /* Literal.String.Other */
pre.code .sr { color: #4e9a06 } /* Literal.String.Regex */
pre.code .s1 { color: #4e9a06 } /* Literal.String.Single */
pre.code .ss { color: #4e9a06 } /* Literal.String.Symbol */
pre.code .bp { color: #3465a4 } /* Name.Builtin.Pseudo */
pre.code .vc { color: #000000 } /* Name.Variable.Class */
pre.code .vg { color: #000000 } /* Name.Variable.Global */
pre.code .vi { color: #000000 } /* Name.Variable.Instance */
pre.code .il { color: #0000cf; font-weight: bold } /* Literal.Number.Integer.Long */
table.codetable { width: 100%;} td.linenos {text-align: right; width: 4em;}

/* BLOG.TXT TWO-COLUMN (RIGHT) LAYOUT */
div#container{float:left;margin:0 0 0 -20em;width:100%;}
div#content{margin:0 0 0 20em;}
div#footer{clear:both;width:100%;}
div#header{margin:0 0 0 -0.9em;padding:0.2em 0 0;}
div#header div#blog-description,div#header div.archive-description{margin:0.2em 0 0 0.9em;}
div#header h1#blog-title{padding:0 0 0 0.2em;}
div#primary{margin-top:1em;padding-top:1em;}
div#secondary{clear:right;}
div#wrapper{margin:5em 0 0 7em;}
div.hfeed{margin:0 3em 0 0;}
div.theme_sidebar{border-left:0.1em solid #ccd0d6;overflow:hidden;padding-left:2.4em;width:17.5em;}
/*
THEME NAME: blog.txt
THEME URI: http://www.plaintxt.org/themes/blogtxt/
DESCRIPTION: Where a blog and its text join together. An exceptionally clean theme&mdash;a classic. For WordPress 2.6.x.
VERSION: 4.6.1
AUTHOR: Scott Allan Wallick
AUTHOR URI: http://scottwallick.com/
TAGS: variable width, fixed width, variable columns, two columns, three columns, widgets, theme options, options page, white, gray, typography, microformats, hatom, hcard
*/
body h1,body h2,body h3{font-family:garamond,georgia,times,serif;font-weight:400; margin-bottom: 12px;}
a,a:link{outline:none;text-decoration:none;}
div#header a,div#header a:link{color:#0d1117;}
div.hfeed a,div.hfeed a:link,div.entry-content ul.xoxo li.hentry span a,div.entry-content ul.xoxo li.hentry span a:link{border-bottom:1px solid #9aa1ae;color:#34425b;}
div.hfeed .entry-title a,div.hfeed .entry-title a:link,div.hfeed div.entry-meta a,div.hfeed div.entry-meta a:link{border-bottom:none;}
div.theme_sidebar a,div.theme_sidebar a:link{background:#fff;border-bottom:1px solid #ccd0d6;color:#34425b;}
div#footer a,div#footer a:link{border-bottom: 1px solid #ccd0d6;color: #9aa1ae;}
div.hfeed a:visited,div.entry-content ul.xoxo li.hentry span a:visited{color:#677284;}
div.hfeed .entry-title a:visited{color:#34425b;}
div#header a:hover{color:#9aa1ae;}
div#footer a:hover{border-bottom: 1px solid #34425b;color: #34425b;}
div.hfeed a:hover,div.hfeed .entry-title a:hover,div.hfeed div.entry-meta a:hover,div.theme_sidebar a:hover,div.entry-content ul.xoxo li.hentry span a:hover{border-bottom:1px solid #0d1117;color:#0d1117;}
div.hfeed a:active,div.theme_sidebar a:active{color:#677284;border-bottom:1px solid #b4b9c3;}
body{background:#fff;color:#222;line-height:140%;margin:0 0 2em;padding:0;}
body abbr.published,body abbr.comment-published{border:none;}
body img{border:none;max-width:99%;}
body input#s{background:#f6f6f7;border:1px solid #9ca1a8;font-size:1em;line-height:normal;padding:0.3em 0.2em;}
body.author div.hfeed div.archive-meta p{color:#555;font-size:0.9em;margin:0;}
body.single div.navigation{margin:4em 0 0;}
div#footer{color:#9aa1ae;font-size:0.9em;padding:6em 0 0;}
div#globalnav,div.access,div#footer span#theme-link span.additional-name,div#footer span#theme-link span.family-name{display:none;}
div#header a{text-decoration:none;}
div#header div#blog-description,div#header div.archive-description{font-size:1.1em;line-height:133%;}
div#header h1#blog-title{border-bottom:0.1em solid #ccd0d6;font-weight:normal;font-size:4em;line-height:64%;letter-spacing:1px;margin:0;text-transform:uppercase;}
div#wrapper .important{background:#f5f5dc url(images/important.png) no-repeat 0.5em center;border-bottom:1px solid #d0d0bb;border-top:1px solid #d0d0bb;padding:0.3em 0.5em 0.3em 2.3em;}
div#wrapper div.entry-content .download{background:url(images/file-download.png) no-repeat center left;}
div#wrapper div.entry-content .html{background:url(images/file-html.png) no-repeat center left;}
div#wrapper div.entry-content .html,div#wrapper div.entry-content .download,div#wrapper div.entry-content .pdf,div#wrapper div.entry-content .zip{margin-left:2px;padding:2px 0 2px 19px;}
div#wrapper div.entry-content .pdf{background:url(images/file-pdf.png) no-repeat center left;}
div#wrapper div.entry-content .zip{background:url(images/file-zip.png) no-repeat center left;}
div.comments h3{color:#4d5663;font-size:1.4em;font-weight:400;margin:4em 0 0.3em;}
div.comments h3.comment-header span.comment-count{color:#7a818a;font-size:0.8em;padding-left:0.2em;}
div.comments ol#comments{margin:0 0 0 2em;padding:0;}
div.comments ol#comments li{margin:1em 0 5em;padding:0;}
div.comments ol#comments li img.photo { float:left; margin:0 1em 0.5em 0; }
div.comments ol#pingbacks{list-style:none;margin:1em 0 0 1.5em;padding:0;}
div.comments ol#pingbacks li{border:1px solid #ccd0d6;color:#777;font-size:0.9em;list-style:none;margin:0 0 1.5em;padding:1em;}
div.comments ol#pingbacks p{margin-bottom:0;}
div.comments ol.commentlist li .fn,div.theme_sidebar ul li#blogtxt-recent-comments .fn{font-weight:700;}
div.comments ol.commentlist p{margin:0.5em 0;}
div.comments ol.commentlist span.comment-meta,div.comments p#loggedin{font-style:italic;}
div.comments span.req-field{color:#c00;}
div.entry-content .alignleft{float:left;margin:0.5em 1em 0.5em 0;}
div.entry-content .alignright{float:right;margin:0.5em 0 0.5em 1em;}
div.entry-content .center,div.entry-content .aligncenter{display:block;margin:1em auto;}
div.entry-content .clearer,div.entry-content .entry-edit{clear:both;width:99%;}
div.entry-content .content-column{width:40%;}
div.entry-content .more-link{font-size:95%;font-weight:700;text-transform:uppercase;}
div.entry-content a:hover img.center,div.entry-content a:hover img.aligncenter,div.entry-content a:hover img.alignright,div.entry-content a:hover img.alignleft{border:1px solid #2c384d;}
div.entry-content blockquote blockquote,div.comments ol.commentlist blockquote blockquote{border-left:5px solid #ccd0d6;font-size:0.9em;padding:0 1em;}
div.entry-content blockquote,div.comments ol.commentlist blockquote{background:#ebedef;color:#4d5663;padding:0.1em 1em;}
div.entry-content code,div.entry-content pre,div.comments ol.commentlist code,div.comments ol.commentlist pre{color:#494C5C;font:1em/133% "courier new",courier,monospace;}
div.entry-content del,div.comments ol.commentlist del{background:#ebedef;color:#31343a;}
div.entry-content div.page-link{font-size:0.9em;font-weight:700;margin:0 0 1.5em;text-align:center;}
div.entry-content h2,div.entry-content h3{font-size:1.5em;margin:1.5em 0 -0.3em;}
div.entry-content h2,div.entry-content h3,div.entry-content h4,div.entry-content h5,div.entry-content h6{font-weight:400;}
div.entry-content h4{font-size:1.4em;margin:1.5em 0 -0.3em;}
div.entry-content h5{font-size:1.3em;margin:1.5em 0 -0.4em;}
div.entry-content h6{font-size:1.2em;margin:1.5em 0 -0.5em;}
div.entry-content img.center,div.entry-content img.alignright,div.entry-content img.alignleft{border:1px solid #9aa1ae;}
div.entry-content ins,div.comments ol.commentlist ins{background:#f5f5dc;}
div.entry-content ol ol{list-style:lower-alpha;}
div.entry-content p,div.formcontainer p{margin:1em 0;}
body.attachment h3.entry-title{margin:-1.5em 0 0.5em 0;}
div.entry-content div.entry-attachment{margin:-0.5em 0 1em;}
div.entry-content div.entry-caption{margin-bottom:2em;}
body.attachment h3.entry-title,div.entry-content div.entry-attachment,div.entry-content div.entry-caption{text-align:center;}
div.entry-content .wp-caption-text{font-style:italic;margin:0.2em auto 1em auto;text-align:center;}
div.entry-content div.gallery{clear:both;float:left;margin:1em auto;text-align:center;width:100%;}
div.entry-content div.gallery dl{float:left;margin:0 auto;text-align:center;}
div.entry-content div.gallery dl.gallery-columns-2{width:49%;}
div.entry-content div.gallery dl.gallery-columns-3{width:33%;}
div.entry-content div.gallery dl.gallery-columns-4{width:24%;}
div.entry-content div.gallery dl.gallery-columns-5{width:19%;}
div.entry-content div.gallery dd{font-style:italic;margin:0 auto 1em auto;text-align:center;}
div.entry-content div.gallery *{margin:0;padding:0;}
div.entry-content div.entry-attachment img,div.entry-content div#nav-images div img{max-width:none;overflow:hidden;}
body.attachment div#wrapper div#content div#nav-images{clear:both;margin:1em auto 2em auto;width:100%;}
body.attachment div#nav-images div{margin:0;padding:2% 2% 4% 2%;width:46%;}
body.attachment div#nav-images div.nav-previous{text-align:right;}
body.attachment div#nav-images div.nav-next{text-align:left;}
body.attachment div.entry-meta,body.attachment div.comments{clear:both;width:100%;}
div.entry-content div.entry-caption,div.entry-content q,div.comments ol.commentlist q{color:#494c5c;}
div.entry-content ul li ul{list-style:square;line-height:150%;}
div.entry-content ul.xoxo,div.entry-content ul.xoxo li{list-style:none;margin:0;padding:0;}
div.entry-content ul.xoxo li h3{margin-bottom:0.3em;}
div.entry-content ul.xoxo li ul{margin:0;padding:0;}
div.entry-content ul.xoxo li ul li{list-style:square;margin:0 0 0 2em;}
div.entry-content ul.xoxo li.hentry span.entry-title{font-size:1em;text-transform:none;}
div.entry-content ul.xoxo li.hentry span.entry-date{font-size:1em;}
div.entry-content ul.xoxo li ul li p{font-style:italic;margin-top:0.3em;}
div.formcontainer form#commentform,div.theme_sidebar ul,div.theme_sidebar ul li#blogtxt-recent-comments blockquote.comment-summary,div.theme_sidebar ul li#blogtxt-recent-comments blockquote.comment-summary p{margin:0;padding:0;}
div.formcontainer div.form-input{margin:0 0 1em;}
div.formcontainer div.form-input input{width:20em;}
div.formcontainer div.form-input input,div.formcontainer div.form-textarea textarea{background:#f6f6f7;border:1px solid #7a818a;font-size:1em;line-height:normal;padding:0.3em;}
div.formcontainer div.form-textarea-label{margin:1em 0 0.2em;}
div.formcontainer textarea#comment{height:12em;margin:0 0 0.5em;overflow:auto;width:25em;}
div.formcontainer,p#mustlogin{margin:0 0 1em 1.5em;}
div.hentry div.archive-meta{font-style:italic;margin:0.5em 0 2em 2em;}
div.hentry div.entry-meta{background:#f6f7f8;border-bottom:1px solid #ccd0d6;border-top:1px solid #ccd0d6;color:#677284;font-size:0.9em;margin:1em 0 5em;padding:0.2em 0.5em;text-align:center;clear:both;}
div.hentry div.entry-meta span.meta-sep{padding:0 0 0 0.3em;}
div.hfeed .entry-title{font-size:1.6em;font-weight:400;line-height:133%;margin:0 0 -0.3em;text-transform:uppercase;}
div.hfeed .page-title{color:#4d5663;font-size:1.7em;font-weight:400;line-height:133%;margin:2em 0 0;}
div.hfeed .page-title span.page-subtitle{color:#7a818a;font-size:0.8em;padding-left:0.2em;}
div.hfeed div#post-0 input#s{width:50%;}
div.hfeed div.p1{margin:5em 0 0;}
div.nav-next{float:right;text-align:right;}
div.nav-previous{float:left;text-align:left;}
div.navigation{font-size:0.9em;height:1.2em;text-align:center;text-transform:uppercase;}
div.navigation div{width:48%;}
div.theme_sidebar{line-height:150%; margin-right:-3px;}
div.theme_sidebar ul li{list-style:none;margin:0 0 2.5em;padding:0;}
div.theme_sidebar ul li h3{font-weight:bold;font-size:1.2em;line-height:133%;letter-spacing:1px;margin:0 0 0.1em;text-transform:uppercase;}
div.theme_sidebar ul li ul li{color:#4d5663;margin:0;padding:0;}
div.theme_sidebar ul li ul li ul{margin:0 0 0.2em;}
div.theme_sidebar ul li ul li ul li{color:#9aa1ae;list-style:disc;margin:0 0 0 2em;}
div.theme_sidebar ul li#blogtxt-recent-comments span.comment-entry-title{font-size:0.8em;}
div.theme_sidebar ul li#blogtxt-recent-comments ul li{margin:0 0 2em;}
div.theme_sidebar ul li#tag-cloud{width:95%;overflow:hidden;line-height:250%;background:transparent;}
div.theme_sidebar ul li#tag-cloud h3{margin-bottom:-1em;}
div.theme_sidebar ul li#calendar div#calendar_wrap{margin:0.5em 0 0;}
div.theme_sidebar ul li#calendar table#wp-calendar{text-align:center;width:75%;}
div.theme_sidebar ul li#calendar table#wp-calendar tbody a{font-size:1.1em;font-weight:700;}
div.theme_sidebar ul li#google-search div form#gsearch,div.theme_sidebar ul li#calendar table#wp-calendar caption{text-align:left;}
div.theme_sidebar ul li#rss_links ul li a,div.theme_sidebar ul li#rss-links ul li a{background:url(images/feed.png) no-repeat left center;padding:0 0 0 15px;}
div.theme_sidebar ul li#search form#searchform{margin:0.2em 0 0;padding:0;}
div.theme_sidebar ul li#search input#s{width:7em;}
div.theme_sidebar ul li.entry-interact ul li.comment-link a{background:url(images/comments.png) no-repeat left center;padding:0 0 0 15px;}
div.theme_sidebar ul li.entry-interact ul li.trackback-link a{background:url(images/trackbacks.png) no-repeat left center;padding:0 0 0 15px;}
div.theme_sidebar ul li.widget_text div.textwidget p{margin:0 0 0.5em;}


body{font-size:80%;}
body,div.comments h3.comment-header span.comment-count,div.entry-content ul.xoxo li.hentry span.entry-title{font-family:georgia,times,serif;}
div#wrapper{width:60em;}
div.hfeed .entry-title,div.hfeed .page-title,div.comments h3,div.entry-content h2,div.entry-content h3,div.entry-content h4,div.entry-content h5,div.entry-content h6,div#header div#blog-description,div#header div.archive-description{font-family:arial,helvetica,sans-serif;}
div#header h1#blog-title,div.theme_sidebar ul li h3{font-family:'times new roman',times,serif;}
body input#s,div.entry-content div.page-link,div.entry-content p.attachment-name,div.entry-content q,div.comments ol.commentlist q,div.formcontainer div.form-input input,div.formcontainer div.form-textarea textarea,div.hentry div.entry-meta,div.theme_sidebar{font-family:verdana,geneva,sans-serif;}
div.hfeed div.hentry{text-align:left;}
body div#wrapper{margin:5em 0 0 7em;}
div.entry-content{margin-top: 24px;}
